@{
    ViewBag.Title = "About";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div class="centered" id="bluelines"> 
        <p>
            This app was created as a study project using some of the .NET solutions. 
            It allows to download data from Twitter Public Stream with specified filter and present it in three different ways.
        </p>
        <p>
            <b>Hashtags</b> presentation shows all the hashtags from collection of tweets and their counts.
        </p>
        <p>
           <b>Sentiment</b> presentation shows top 5 negative and postive word counts from collection of tweets along with total number of positive and negative words found.
           There were used positive and negative words dictionaries of Professor Bing Liu (University of Illinois at Chicago). More info <a href="http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html">here.</a>
        </p>
        <p>
            <b>Pictures</b> presentation shows all the photos linked to collection of tweets.
        </p>
    </div>
</body>
