@{
    ViewBag.Title = "Main";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div class="centered">
        <a class="square" id="green" href=@Url.Action("Index", "GetData")><span>schedule data load</span></a>
        <a class="square" id="orange" href=@Url.Action("Index", "ViewData")><span>browse and visualize</span></a>
    </div>
</body>

