@model TwitterMonitor.TwitterService.HashtagsFreqData
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hashtags</title>
</head>
<body>
    <div class="centered" id="orangelines"> 
        <div class="title">
            <div id="back">
                <a class="button" href=@Url.Action("Index", "ViewData", new { code = Model.Code })><input value="Back" type="submit"></a>
            </div>
            <p>Hashtag counts for data with filter: "@Model.TrackWord", downloaded: @Model.CreatedAt </p>
        </div>
        <div class="scroll">
            @foreach (var h in Model.Data) //if data came without .Data field = > null pointer exception
            {
                <p><span>@h.HashtagWord: </span><span>@h.TweetCount</span></p>
            }
        </div>
    </div>
</body>
</html>
